{
  "extends": [
    "plugin:import/typescript"
  ],
  "parser":  "@typescript-eslint/parser",  // Specifies the ESLint parser
  "plugins": [
    "flowtype"
  ],
  "globals": {
   "__IS_DEV__": true,
   "getCWD": true
  },
  "rules": {
    "no-plusplus": "off",
    "no-underscore-dangle": "off",
    "no-return-assign": "off"
  }
}

